# Ignore data
data/raw/
data/processed/

# Ignore R session and environment files
.Rhistory
.RData
.RDataTmp
.RDataTmp1
.Rproj.user/
R/etc/

# Ignore output
results/
reports/*.html
reports/*.pdf
.Rproj.user
.Rdata
.httr-oauth
.DS_Store
data/.DS_Store
.quarto


# Ignore my note
Notes.docx